body{

    margin: 0;
    background-image: url(../images/round.png);

}

.container{

    width: 960px;
    margin: 0 auto;
    padding-bottom: 0;
    
}

nav{

    float: right;
}

header{

    background: #ffffff;
    border: 1px #cccccc;
    
}


h1{

    color: #ffffff;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    background: #4aaaa5;
}

nav ul{

    overflow: hidden;
    list-style: none;
    padding: 30px;
    margin: 0;
    
}

nav li{
    
    display: inline-block;
    margin-left: 20px;
    
}

nav a{

    color: #777777;
    text-decoration: none;
      
}

h2{

    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;

}

.main{

    background: #ffffff;
    border: 1px solid #dddddd;
    
    

}

